# Python virtual environments
venv/
env/
.env

# Python compilation cache
__pycache__/
*.py[cod]
*$py.class

# Node.js dependencies
node_modules/

# Build output
webui/dist/

# OS and Editor files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Credentials
aws_credentials.json
